# Hide secret hardware backups
backups/
*.tar.gz

# Hide local device database
*.db
projectphone.db

# Hide compiled executable and object files
projectphone
*.o

# Ignore local private device mount points and cache profiles
.projectphone/
mnt_ios/
mnt_android/
